body {
  background-image: url('data/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:grey;
  font-family: Arial;
}
#profile {
	position:absolute; 
	right: -150px; 
	top: -150px;
	text-align:center;
	text-decoration: none;
	border-radius: 50%;
	transform: scale(0.4);
	font-size: 60px;
}
#profile img {
	border-radius: 50%;
}
h1 {
	text-align:center;
}
