body {
  color:black;
  font-family: italic;
  margin: 0;
  padding: 0;
}
#firstView {

}
#secondView {
}
#Vid1 {
  position: relative;
  right: 0;
  top: 0;
  width: 100%;
  height: auto;
}
